<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flutter.base_currency_code</key>
	<string>GBP</string>
	<key>flutter.financial_store_v1</key>
	<string>truncated JSON</string>
	<key>flutter.onboarding_completed</key>
	<true/>
</dict>
</plist>
